<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
      <div>
        <%= msg %>
      </div>
    <% end %>

    <% if user_logged_in? %>
      <h1>Currently logged in as: <%= current_user.name %></h1>
      <p><%= link_to "Log Out", session_path(current_user.id), method: :delete %></p>
    <% else %>
      <p><%= link_to "Log In", new_session_path %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
