<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
      <div class="flash centered-text <%= type %>">
        <%= msg %>
      </div>
    <% end %>

    <nav class="nav-bar">
      <%= link_to "Private Events", root_path, class: "nav-button" %>

      <% if user_logged_in? %>
        <%= link_to "Create Event", new_event_path, class: "nav-button nav-right" %>
        <%= link_to current_user.name, user_path(current_user.id), class: "nav-button" %>
        <%= link_to "Log Out", session_path(current_user.id), method: :delete, class: "nav-button" %>
      <% else %>
        <%= link_to "Log In", new_session_path, class: "nav-button nav-right" %>
      <% end %>
    </nav>

    <%= yield %>
  </body>
</html>
